<footer class="inner-spaces main-bg-color">
<div class="container">
  <div class="row gy-4">
    <div class="col-md-4">
      <div class="inner text-center text-white">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner text-center text-white text-uppercase">
        <h3>AROUND THE WEB</h3>
        <ul class="list-unstyled  d-flex justify-content-center gap-3 mt-3">
          <li><span class="border border-1 border-white rounded-circle"><i class="fa-brands fa-facebook-f"></i></span></li>
          <li><span class="border border-1 border-white rounded-circle"><i class="fa-brands fa-twitter"></i></span></li>
          <li><span class="border border-1 border-white rounded-circle"><i class="fa-brands fa-linkedin"></i></span></li>
          <li><span class="border border-1 border-white rounded-circle"><i class="fa-brands fa-google"></i></span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner text-center text-white">
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>

  </div>
</div>
</footer>
<footer>
  <div class="f-footer p-3 text-center text-white"><p>Copyright © Your Website 2021</p></div>
</footer>
