<section class="sec-bg-color p-5 mt-5">
      <div class="container mt-5 d-flex justify-content-center flex-wrap">
        <div class="home-img">
          <object data="/imgs/avataaars.svg" class="d-block" width="300" height="300"> </object>
        </div>
        <div class="home-text w-100 text-center mt-3"><h1 class="text-uppercase text-white">start Framework</h1>
        <div class="secion-icon position-relative m-auto mt-3"><span><i class="text-white fa-solid fa-star"></i></span></div>
        <p class="text-white mt-3">Graphic Artist - Web Designer - Illustrator</p>
        </div>
      </div>

</section>
